# Exercise 2: Creating Redshift Cluster using the AWS python SDK 
## An example of Infrastructure-as-code

In [1]:
import pandas as pd
import boto3
import json

# STEP 0: Make sure you have an AWS secret and access key

- Create a new IAM user in your AWS account
- Give it `AdministratorAccess`, From `Attach existing policies directly` Tab
- Take note of the access key and secret 
- Edit the file `dwh.cfg` in the same folder as this notebook and fill
<font color='red'>
<BR>
[AWS]<BR>
KEY= YOUR_AWS_KEY<BR>
SECRET= YOUR_AWS_SECRET<BR>
<font/>

# Load DWH Params from a file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

# Create clients for IAM, EC2, S3 and Redshift

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

# Check out the sample data sources on S3

In [4]:
sampleDbBucket =  s3.Bucket("awssampledbuswest2")
for obj in sampleDbBucket.objects.filter(Prefix="ssbgz"):
    print(obj)
# for obj in sampleDbBucket.objects.all():
#     print(obj)

s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/customer0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/dwdate.tbl.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0004_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0005_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0006_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0007_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier.tbl_0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0003_part_00.gz')

In [5]:
sampleDbBucket =  s3.Bucket("udacity-dend")
log_data_files = [obj.key for obj in sampleDbBucket.objects.filter(Prefix="log-data")]
log_data_files[:5]

['log-data/',
 'log-data/2018/11/2018-11-01-events.json',
 'log-data/2018/11/2018-11-02-events.json',
 'log-data/2018/11/2018-11-03-events.json',
 'log-data/2018/11/2018-11-04-events.json']

In [6]:
sampleDbBucket =  s3.Bucket("udacity-dend")
song_data_files = [obj.key for obj in sampleDbBucket.objects.filter(Prefix="song_data/A/B/C")]
song_data_files[:5]

['song_data/A/B/C/TRABCAS128F14A25E2.json',
 'song_data/A/B/C/TRABCBC12903CEDA2C.json',
 'song_data/A/B/C/TRABCCA128F93304E7.json',
 'song_data/A/B/C/TRABCDB128F422F74C.json',
 'song_data/A/B/C/TRABCEC128F426456E.json']

# STEP 1: IAM ROLE
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [46]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

# print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN

# STEP 2:  Redshift Cluster

- Create a RedShift Cluster
- For complete arguments to `create_cluster`, see [docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift.html#Redshift.Client.create_cluster)

In [8]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [11]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

<ipython-input-11-b26b8a0b1a4c>:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cyp9fzntw5gp.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-fc8acf84
7,NumberOfNodes,4

<h2> 2.2 Take note of the cluster <font color='red'> endpoint and role ARN </font> </h2>

<font color='red'>DO NOT RUN THIS unless the cluster status becomes "Available" </font>

In [ ]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

## STEP 3: Open an incoming  TCP port to access the cluster ednpoint

In [13]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-836e84ab')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

# STEP 4: Make sure you can connect to the cluster

In [14]:
%load_ext sql

In [16]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cyp9fzntw5gp.us-west-2.redshift.amazonaws.com:5439/dwh

# STEP 5: Analytic Queries to Test

In [27]:
%%sql
select distinct(tablename) from pg_table_def where schemaname = 'public';

 * postgresql://dwhuser:***@dwhcluster.cyp9fzntw5gp.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

In [28]:
%%sql
select * from pg_user;

 * postgresql://dwhuser:***@dwhcluster.cyp9fzntw5gp.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('rdsdb', 1, True, True, True, '********', 'infinity', None),
 ('dwhuser', 100, True, True, False, '********', None, None)]

In [29]:
%%sql
SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyp9fzntw5gp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('A Fine Frenzy', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 267.91138, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796.0, 256, 'Almost Lover (Album Version)', 200, datetime.datetime(2018, 11, 5, 0, 33, 12, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69),
 ('Nirvana', 'Logged In', 'Aleena', 'F', 0, 'Kirby', 214.77832, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Serve The Servants', 200, datetime.datetime(2018, 11, 5, 1, 27, 22, 796000), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('Television', 'Logged In', 'Aleena', 'F', 1, 'Kirby', 238.49751, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'See No Evil  (Remastered LP Version)', 200, datetime.datetime(2018, 11, 5, 1, 30, 56, 796000), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('JOHN COLTRANE', 'Logged In', 'Aleena', 'F', 2, 'Kirby', 346.43546, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Blues To Bechet (LP Version)', 200, datetime.datetime(2018, 11, 5, 1, 34, 54, 796000), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('NOFX', 'Logged In', 'Aleena', 'F', 3, 'Kirby', 80.79628, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, "It's My Job To Keep Punk Rock Elite", 200, datetime.datetime(2018, 11, 5, 1, 40, 40, 796000), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44)]

In [30]:
%%sql
SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyp9fzntw5gp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'ARC43071187B990240', None, None, 'Wisner, LA', 'Wayne Watson', 'SOKEJEJ12A8C13E0D0', 'The Urgency (LP Version)', 245.21098, 0),
 (1, 'AR1WWVL1187B9B0306', None, None, 'Birmingham, England', 'UB40', 'SOZODBG12A6701C5D1', 'Reasons (Radio Remix)', 207.3073, 0),
 (1, 'ARGQJWL1187FB3CE9E', None, None, None, 'La Polla Records', 'SOXLGTI12A8C13C08B', 'Cara Al Culo', 82.99057, 1985),
 (1, 'ARR9XGB1187B9912E6', None, None, 'Philadelphia, PA', 'Boyz II Men', 'SOFRAZJ12A8C143CDB', 'On Bended Knee', 329.27302, 1994),
 (1, 'ARAEX7Y1187FB42D36', None, None, 'Severn, MD', 'Toni Braxton Featuring Shaggy', 'SOEXSIN12A8C133B0A', 'Christmas In Jamaica', 219.01016, 2001)]

In [31]:
%%sql
SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyp9fzntw5gp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(75, datetime.datetime(2018, 11, 3, 19, 33, 39, 796000), 95, 'paid', 'SOYTFSY12A6D4FD84E', 'ARRFSMX1187FB39B03', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (35, datetime.datetime(2018, 11, 3, 21, 14, 28, 796000), 49, 'free', 'SOFVOQL12A6D4F7456', 'ARPN0Y61187B9ABAA0', 195, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (40, datetime.datetime(2018, 11, 5, 10, 41, 2, 796000), 42, 'paid', 'SOCNCGL127D9786D66', 'AREHK7O1187B9ADDD7', 129, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (49, datetime.datetime(2018, 11, 5, 11, 17, 25, 796000), 44, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (115, datetime.datetime(2018, 11, 5, 15, 31, 19, 796000), 24, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [32]:
%%sql
SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyp9fzntw5gp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [33]:
%%sql
SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyp9fzntw5gp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOIYUEY12AB0184151', "'Round the Wheel", 'AR4QYVC1187B99985B', 2001, 495.90812),
 ('SOMULTQ12A67ADE98A', '(Antichrist Television Blues)', 'ARFC93D1187FB49D2E', 2007, 310.33424),
 ('SONZQEW12A58A777C8', '(Excerpt From "Who Do Ya Love")', 'AR2WQBP11C8A42C0AF', 0, 92.9171),
 ('SOXCPBW12A8C13D533', '(Fuck The) U.S.A. (album)', 'ARHPPMU11F4C83C09F', 0, 202.23955),
 ('SOOKGUZ12AC960DEA2', '(The Man With The) Green Thumb', 'AR7X9J51187FB3F1A9', 2004, 200.30649)]

In [34]:
%%sql
SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyp9fzntw5gp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', None, None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', 25.67084, -100.30953),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', 40.65507, -73.94888),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', None, None, None)]

In [35]:
%%sql
SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyp9fzntw5gp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 9, 1, 21, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 5, 30, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 16, 16, 796000), 9, 2, 44, 11, 2018, 5)]

# STEP 6: Clean up your resources

<b><font color='red'>DO NOT RUN THIS UNLESS YOU ARE SURE <br/> 
    We will be using these resources in the next exercises</span></b>

In [ ]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

- run this block several times until the cluster really deleted

In [ ]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

In [ ]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!